*.md linguist-documentation
LICENSE linguist-documentation
assets/** linguist-documentation

*.json linguist-documentation

demo/** linguist-vendored=false
demo/** linguist-documentation=false
demo/** linguist-detectable=true

package-lock.json linguist-generated
demo/**/package-lock.json linguist-generated
