
label {
    margin-bottom: 5px;
    color: #435960;
    font-weight: bold;
}

input {
    padding: 4px;
    font-size: 1em;
}

label,
input {
    display: block;
}

button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
