
h1 {
    margin-bottom: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    display: inline-block;
    margin: 0 8px;
    padding: 1rem;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #3d3d3d;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: #42545C;
}

nav a.active {
    background-color: black;
}

